body {
      font-family: Arial, sans-serif;
      background: #111;
      padding: 20px;
    }

    .game-grid {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      gap: 12px;
    }

    .game-grid a {
      text-decoration: none;
    }

    .game-button {
      background: #222;
      color: white;
      padding: 14px 10px;
      text-align: center;
      border-radius: 8px;
      border: 2px solid #333;
      cursor: pointer;
      transition: 0.2s;
      font-size: 14px;
    }

    .game-button:hover {
      background: #00b3ff;
      color: black;
      border-color: #00b3ff;
    }


      .menu-button {
      background: #5d0575;
      color: white;
      padding: 14px 10px;
      text-align: center;
      border-radius: 8px;
      border: 2px solid #333;
      cursor: pointer;
      transition: 0.2s;
      font-size: 14px;
    }

    .menu-button:hover {
      background: #00b3ff;
      color: black;
      border-color: #00b3ff;
    }

    /* Responsive */
    @media (max-width: 900px) {
      .game-grid {
        grid-template-columns: repeat(3, 1fr);
      }
    }

    @media (max-width: 500px) {
      .game-grid {
        grid-template-columns: repeat(2, 1fr);
      }
    }
